*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!AGENTS.md
!dub.sdl
!source/
!source/**
!fixtures/
!fixtures/**
!schemas/
!schemas/**
!docs/
!docs/**
!.github/
!.github/**
!.github/workflows/
!.github/workflows/**
!/.editorconfig
!/.gitattributes
